absl-py==0.9.0
algovis==0.1.6
aniso8601==8.0.0
ansi2html==1.5.2
appdirs==1.4.4
asgiref==3.2.10
astor==0.8.0
astroid==2.4.1
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bleach==3.1.5
blinker==1.4
bokeh==2.1.1
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.1.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
colorama==0.4.3
colorlover==0.3.0
commonmark==0.9.1
cookies==2.2.1
cryptography==2.9.2
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.10.0
cytoolz==0.10.1
dask @ file:///tmp/build/80754af9/dask-core_1594156306305/work
decorator==4.4.2
defusedxml==0.6.0
dill @ file:///tmp/build/80754af9/dill_1593202311028/work
distlib==0.3.0
Django==3.1
entrypoints==0.3
et-xmlfile==1.0.1
fastapi==0.59.0
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.2
Flask-RESTful==0.3.8
future==0.18.2
gast==0.2.2
google==2.0.3
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
google-search==1.0.2
grpcio==1.27.2
h11==0.9.0
h5py==2.8.0
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1593446525189/work
ipykernel==5.3.0
ipython @ file:///C:/ci/ipython_1593433781269/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi @ file:///C:/ci/jedi_1592833832328/work
jieba3k==0.35.1
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594163838128/work
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lightgbm==2.3.1
livelossplot==0.5.1
lxml==4.5.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1592846084747/work
mccabe==0.6.1
memory-profiler==0.57.0
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.4.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
newspaper3k==0.2.8
nltk==3.5
notebook==6.0.3
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
opencv-python==4.4.0.40
opt-einsum==3.1.0
packaging==20.4
pandas @ file:///C:/ci/pandas_1592841747005/work
pandocfilters==1.4.2
paramiko==2.7.1
parse==1.15.0
parsel==1.5.2
parso==0.7.0
pickleshare==0.7.5
Pillow==7.1.2
plotly @ file:///tmp/build/80754af9/plotly_1593522991827/work
pluggy==0.13.1
pprintpp==0.4.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.3
psutil==5.7.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pydantic==1.6.1
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.5.2
PyNaCl @ file:///C:/ci/pynacl_1593121837095/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
pysftp @ file:///tmp/build/80754af9/pysftp_1592513933619/work
PySocks==1.7.1
pytesseract==0.3.4
pytest==5.4.3
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
regex==2020.6.8
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-file==1.5.1
requests-oauthlib==1.3.0
retrying==1.3.3
rich==3.4.1
rsa==4.0
sacremoses==0.0.43
scikit-image==0.16.2
scikit-learn @ file:///C:/ci/scikit-learn_1592847564598/work
scipy @ file:///C:/ci/scipy_1592916958183/work
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
-e git+https://github.com/UKPLab/sentence-transformers.git@ac930ad13654330dacf844ae70a29952a7ac1a9d#egg=sentence_transformers
sentencepiece==0.1.91
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
starlette==0.13.4
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tinysegmenter==0.3
tldextract==2.2.3
tokenizers==0.7.0
toml==0.10.1
toolz==0.10.0
torch==1.3.1
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
transformers==2.11.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
unicode==2.7
unicodecsv==0.14.1
unicodedata2==13.0.0.post2
Unidecode==1.1.1
urllib3==1.25.9
uvicorn==0.11.5
virtualenv==20.0.25
w3lib==1.21.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0
