<!DOCTYPE html>
<html>

<head>
    <title>HOME PAGE</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="index.css")}}'>
</head>

<body>

    <div class='predict'>
        <form action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" id="imageUpload" onchange="loadFile(event)" accept=".png, .jpg, .jpeg">
            <img id="output" />
            <script>
                var loadFile = function(event) {
                    var output = document.getElementById('output');
                    output.style.height = "200px";
                    output.style.width = "200px";
                    output.src = URL.createObjectURL(event.target.files[0]);
                    output.onload = function() {
                        URL.revokeObjectURL(output.src)
                    }
                };
            </script>
            <button type="submit">Predict</button>
        </form>
        <div>
            {{ prediction_text }}
        </div>
    </div>
</body>

</html>