body{
    background: linear-gradient(to right, rgb(52, 12, 75), #86428f);
}
.predict{
    text-align: center;
    margin: 20px;
    color: aliceblue;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

.predict input{
    color: aliceblue;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}
.predict button{
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}